<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <%- include('./partials/header.ejs') %>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <p>GENRE: <%= movie.genre.name %> </p>
    <p>ACTORS: </p>
        <% for (let i = 0; i < movie.actors.length; i++) { %>
            <p>---> <%= movie.actors[i].first_name %> <%= movie.actors[i].last_name %></p> 
        <% } %>
    <br>
    <a  class="botonUpdate" href="/movies/edit/<%= movie.id %>">Editar Pelicula</a></p>
    <a  class="botonDelte" href="/movies/delete/<%= movie.id %>">Eliminar pelicula</a></p>
</body>
</html>